# Intellij
.idea/
*.iml
*.iws
out/

# Mac and OS
.DS_Store
Thumbs.db
desktop.ini

# Logs and Backup
logs/
*.log
*.swp
*.swo
*~

# Build artefacts
build/

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Java
*.class